/*
!/.gitignore
!/README.md
!/docs/

!/.zshrc
!/.zshenv
!/.ideavimrc

!/.config/
/.config/*
!/.config/quickshell/
!/.config/hypr/
/.config/hypr/*
!/.config/hypr/hyprland.lua
!/.config/hypr/hyprpaper.conf
!/.config/zlaunch/
!/.config/dunst/
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/starship.toml
!/.config/alacritty/
!/.config/rofi/

!/bin/
/bin/*
!/bin/wallpaper-daily-bing
!/bin/clean-download-folder
